@import './bootstrap-carousel.scss';
@import '../../../../app/assets/stylesheets/variables.scss';
@import './navbar.scss';
@import '/notification_bar.scss';
@import './typography.scss';
@import './tool-section.scss';
@import './schools-section.scss';
@import './teacher-stories.scss';

body {
  background-color: $white;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

a.q-button {
  border: solid 1px;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-family: $family-sans-serif;
  font-size: 18px;
  margin-top: 5px;
  padding: 6px 20px;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  &.icon-button,
  &.learn-more-button {
    box-sizing: border-box;
    font-weight: 600;
    height: 40px;
    margin-right: 10px;
  }
  &.cta-button {
    // padding-left: 33px;
    // padding-right: 33px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 33px;
  }
  &:hover.text-white {
    color: white;
  }
  &.small-button {
    font-size: 14px;
  }
  &:hover {
    text-decoration: none;
  }
}


.flex-row {
  display: flex;
  flex-wrap: wrap;
  &.centered {
    justify-content: center;
  }
  &.space-around {
    justify-content: space-around;;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.flex-end {
    justify-content: flex-end;
  }
  &.vertically-centered {
    align-items: center;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  &.centered {
    justify-content: center;
  }
  &.space-around {
    justify-content: space-around;;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.flex-end {
    justify-content: flex-end;
  }
  &.vertically-centered {
    align-items: center;
  }
}





$list: (quillgreen: $quillgreen, quillred: $quillred, quillnavbar: $quillnavbar, quillforestgreen: $quillforestgreen, quillblue: $quillblue, white: $white, black: $black, orange: $orange, red: $red, darkred: $darkred, darkorange: $darkorange, darkblue: $darkblue, green: $green, darkgreen2: $darkgreen2, lightgray: $lightgray, darkgray: $darkgray, purple: $purple, lessonspurple: $lessonspurple);

@each $name, $color in $list {
  .text-#{$name} {
    color: $color;
    &:hover, &:focus {
      color: $color;
      text-decoration: none;
    }
  }
  .bg-#{$name} {
    background-color: $color;
  }
  .q-button.bg-#{$name} {
    &:hover {
      background-color: darken($color, 5%);
    }

    &:active {
      background-color: darken($color, 10%);
    }
  }
  .border-#{$name} {
    border: 1px solid $color;
  }
  .border-dashed-#{$name} {
    border: 1px dashed $color;
  }
}

.diagnostic-tool {
  .info-section {
    .summary {
      margin-bottom: 35px;
    }
    .q-button {
      margin-top: 0px !important;
    }
    .ell-section {
      height: 66px;
      max-width: 490px;
      margin-top: 35px;
      .header {
        line-height: 28px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background-color: #fedfde;
        color: #c51916;
        font-size: 12px;
        padding-left: 9px;
        border-bottom: solid 1px #ff4441;
        width: 465px;
        @media (max-width: 1150px) {
          width: 276px;
        }
      }
      .flags {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background: white;
        color: #3b3b3b;
        font-size: 14px;
        line-height: 38px;
        text-align: center;
        width: 474px;
        @media (max-width: 1150px) {
          width: 285px;
          line-height: 24px;
          span {
            display: block;
          }
        }
        img {
          width: 16px;
          margin-left: 5px;
          margin-right: 3px;
          margin-bottom: -3px;
        }
      }
      @media only screen and (max-width : 500px) {
        display: none;
      }
    }
  }
}

$background-images-list: (diagnostic-pattern-magnifier connect-pattern-bullseye grammar-pattern-puzzle proofreader-pattern-flag);

@each $background-image in $background-images-list {
  .bg-image-#{$background-image} {
    background-image: url("../../../../public/images/background_images/#{$background-image}.png");
    background-repeat: repeat;
    background-position-y: -10px;
  }
}

.bg-image-lessons-pattern {
  background-image: url("http://assets.quill.org/images/background_images/lessons-pattern.svg");
  background-position-y: -10px;
}


section.q-hero {
  width: 100%;
  height: 530px;
  background-image: url(../../../../public/images/homepage/homepage_pattern.png);
  background-position: center center;
  .header {
    .q-h1 {
      margin-bottom: 0px;
    }
    p.text-white {
      margin-top: 10px;
      margin-bottom: 30px;
    }
  }
}

nav.q-navbar-home {
  max-width: 1165px;
  width: 100%;
  margin: 0 auto;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  position:relative;

  .logo-img-new {
    margin-top: 20px;
    height: 35px;
  }

  .home-nav-right {
    max-width: 475px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.narrow {
      display: none;
    }

    .sign-up-btn {
      border: 1px solid $white;
      //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
      border-radius: 4px;
      padding: 4px 9px 2px;
      background-color: $white;
      color: $quillgreen;
    }
  }

  /* Advanced Checkbox Hack */
  // body { -webkit-animation: bugfix infinite 1s; }
  @-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }

  input.home-nav-checkbox[type=checkbox] {
    position: absolute;
    box-sizing:border-box;
    top: -9999px;
    left: -9999px;
  }

  label {
    display:none;
    cursor: pointer;
    user-select:none;
  }


  /* custom-dropdown */
  nav.home-nav-dropdown[role="home-custom-dropdown"] {
    width: 100%;

    a,
    label {
      text-decoration:none;
      font: 1.2em sans-serif;
      transition: color .3s ease-in-out;
    }

    ul {
      padding: 0;
      // margin: 0 auto;
      width: 100%;
      list-style:none;
      position: absolute;
      top: 30px;
      left: 0;
      background-color: $quillgreen;
      z-index: 2;

      > li {
        float:left;
        padding: .55em 15px;
        // margin: 0 auto;
        width:19%;
        text-align:center;
        cursor: pointer;

        &:hover {
          color: #3b3b3b;
          box-shadow:
            0 .05em .25em 0 rgba(0, 0, 0, .35),
            inset 0 0 0 2em rgba(0, 0, 0, .3)
          ;

        }
        &:active {
          border-top: none;
        }
      }
    }
  }




  /* small screens */

  @media only screen and (max-width: 865px) {
    a.q-button {
      // &.cta-button, &.icon-button {
        padding-left: 0px;
        padding-right: 0px;
      // }
    }
  }
  @media screen and (min-width: 551px) {
    nav.home-nav-dropdown[role="home-custom-dropdown"] {
      display: none;
    }
  }
  @media screen and (max-width: 550px) {
    height: 60px;

    .home-nav-right.wide {
      display: none;
    }

    .logo-img-new {
      margin-top: 7px;
      height: 35px;
    }

    .desktop-nav-list {
      display: none;
    }
    nav.home-nav-dropdown[role="home-custom-dropdown"] {
      ul {
        display:none;
        // height:100%;
        padding-bottom: 5px;
        -webkit-box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.2);
        box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.2);
      }

      label {
        position:relative;
        display:block;
        width:100%;
        min-height:2.25em;
        padding:.45em;
        font-size:1.1em;
        margin:0;
      }

      label:after {
        position: absolute;
        right: 10%;
        top: -19px;
        content: "\2261";
        color: $white;
        font-size: 4em;
        @media only screen and (max-width : 419px) {
          font-size: 3em;
          top: -8px;
        }
      }

      input.home-nav-checkbox[type=checkbox]:checked ~ label:after {
        color: $white;
      }

      input.home-nav-checkbox[type=checkbox]:checked ~ ul {
        display:block;

        > li {
          width: calc(100% - 30px);
          text-align:left;

          &:after {
            position:absolute;
            color: $white;
            right:.25em;
            content:"\203A";
            font: bold 1.4em sans-serif;
          }
        }
      }
    }
  }
  @media only screen and (max-width : 1165px) {
    padding: 0 15px;
    width: calc(100% - 30px);
  }

  // @media only screen and (max-width : 500px) {
  //   // display: block;
  //   .home-nav-right.narrow {
  //     display: block;
  //   }
  //
  //
  //
  // }

  @media only screen and (max-width : 419px) {

  }
}

.q-hero-text {
  /* bring your own prefixes */
  text-align: center;
  p {
    font-size: 20px;
    max-width: 460px;
    margin: auto;
  }
}

.q-hero-footer {
  // min-height: 92px;
  text-align: center;
  background-color: #027360;
  p {
    font-size: 20px;
    letter-spacing: 0.1px;
    line-height: 92px;
    margin: 0;
    .hero-footer-underline {
      border-bottom: 2px solid $quillgreen;
    }
  }

  @media only screen and (max-width : 600px) {
    padding: 10px 15px;
    p {
      line-height: 36px;
    }
  }

  @media only screen and (max-width : 419px) {
    padding: 10px 45px;
  }
}

@media only screen and (max-width : 419px) {
  .cta-home {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1152px) and (min-width: 656px) {
  .info-section {
    .icon-button {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .icon-button,
  .learn-more-button {
    width: 227px;
  }
  .press-cta {
    a.q-button.cta-button {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

// -ms-high-contrast is Microsoft-specific, available in IE 10+
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .tool-section {
    .video-section {
      // IE has a bug regarding using minimum height without a specific height specified
        height: 610px;
        img {
          top: 30px;
        }
      }
    }
}

@media all and (max-width: 900px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .press-links {
    display: none !important;
  }

  .press-cta {
    a.q-button.cta-button {
      margin-top: 80px;
    }
  }
}
