#student-overview {
  max-width: 950px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 245px;

  .last-active {
    padding-left: 86px;
  }
  .student-overview-table {
    width: 100%;
    border-radius: 6px;
    background-color: #ffffff;
    margin-top: 21px;

    tr {
      height: 50px;
      border: solid 1px #e9e9e9;

      &:not(:first-of-type) {
        font-size: 14px;
        color: #666666;

        &:hover {
          background-color: $row-hover-green-white;

          .activity_name {
            color: #00c2a2;
          }
        }
      }

      &.header-row {
        height: 76px;
        background-color: #fafafa;
      }
    }

    .unit-name {
      min-height: 76px;
      font-size: 24px;
      color: #3b3b3b;
      font-weight: 500;
      width: 130px;
      .unit-container {
        min-height: 76px;
      }
    }

    .activity-image,
    .unit-name {
      padding-left: 25px;
    }

    .activity-image {
      max-width: 50px;
      div {
        background-position: center;
        background-size: 70%;
        height: 30px;
        width: 30px;
        border-radius: 3px;
        &.icon-1, &.icon-2, &.icon-2-lightgray, &.icon-1-lightgray {
          background-size: 60%;
        }
      }
      .icon-unstarted {
        background-color: white;
      }
    }

    .average-score-container {
      font-size: 20px;
      font-weight: 600;
      color: #3b3b3b;
      min-width: 100px;

      .average-score-label {
        font-size: 14px;
        color: #969696;
        padding-bottom: 4px;
        margin-top: 8px;
      }
    }

    .average-score-container,
    .green-arrow {
      text-align: right;
      padding-right: 17px;
    }

    .activity-name {
      width: 40%;
      a {
        color: #027360;
        text-decoration: none;
      }
    }

    .small-font {
      font-size: 12px;
      color: $anothergray;
      vertical-align: bottom;
      padding-bottom: 5px;
    }

    .score {
      width: 136px;
    }
  }

  .overview-header-table {
    width: 100%;
    background-color: #f7f5f5;
    border-radius: 6px;;
    box-shadow: 0 1px 2px 0 #e9e9e9;
    margin-top: 21px;
    td {
      height: 84px;
      padding-left: 24px;
    }
    .top {
      background-color: #fafafa;
    }
    .csv-link {
      text-align: center;
    }
    .student-name {
      font-size: 30px;
      font-weight: 800;
    }
    .yellow-text {
        font-size: 18px;
        font-weight: 600;
        color: #ea9a1a;
        padding-top: 5px;
    }
    .gray-text {
      font-size: 16px;
      color: $anothergray;
    }
    .bottom {
      width: 100%;
      border-top: solid 1px #e9e9e9;
      background-color: #fff;
    }
  }


}
