#class-manager {
  .edit-students {
    h1 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    padding-top: 35px;
    .react-container {
      height: 35px;
      }
    .green-text {
      cursor: pointer;
      color: #027360;
    }
    #edit-classroom-row {
      display: none;
      padding-top: 10px;
    }
    .name-and-editing-info {
      padding-top: 20px;
      border-top: 1px solid #c0c0c0;
      width: 100%;
      margin-top: 30px;
    }
    h2 {
      font-size: 24px;
      span {
        color: #c0c0c0;
      }
    }
    section {
      padding-top: 0px;
      width: 980px;
    }
    .edit_classroom {
      margin-bottom: 0px;
    }
    .container {
      padding-top: 10px;
    }
    .dropdown-menu {
      a {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .name-and-download {
      button {
        border: 1px solid black;
      }
    }
  }



}
