/* ==========================================================================
   Tabs
   ========================================================================== */
#teacher-nav-tabs {
  width: 100%;
    li {
        a {
            text-decoration: none;
            border-top: 3px solid transparent;
            border-bottom: 1px solid #cecece;
            padding-left: 34px;
            padding-right: 34px;
            font-size: 15px;
            margin-top: 0px;
            &.mobile {
                display: none;
            }
        }
        &.active a {
            border-top: 3px solid #027360;
            border-bottom: none;
            position: relative;
            font-weight: 600;
            &:after {
              position: absolute;
              bottom: 0;
              left: 0;
              height: 4px;
              width: 100%;
              background-color: black;
            }
        }
    }
}

.tab-subnavigation-wrapper {
    padding: 8px 0;
    background: #fff;
    border-bottom: 1px solid #cecece;
    min-height: 48px;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        float: left;
        li {
            float: left;
            padding: 5px;
            a {
                padding: 5px 18px;
                border-radius: 5px;
                font-size: 13px;
                color: #000;
                height: 35px;
                &.active {
                    background: #e6e6e6;
                }
            }
        }
    }
}
.student-reports-subnav.tab-subnavigation-wrapper {
    margin-top: -1px;
    $orange: #eda41b;
    a:not(.default) {
        border: 1px solid $orange;
        color: #875a12;
        &.active {
            background: $orange;
            color: white;
            i {
                color: white;
            }
        }
        i {
            color: $orange;
        }
    }
}
.student-subnavigation {
    a {
        font-size: 14px;
        color: #999;
        &:hover {
            text-decoration: none;
        }
    }
    span {
        line-height: 24px;
    }
    img {
        margin-right: 9px;
    }
}
@media (max-width: 871px) {
    #teacher-nav-tabs li a:not(.mobile) {
        display: none;
    }
    #teacher-nav-tabs li.active {
      border-top: 3px solid #027360;
    }
    #teacher-nav-tabs li a.mobile {
      border-bottom: none;
      display: inline;
      padding: 11px 8px;
    }
    .tab-subnavigation-wrapper ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        li {
            padding: 5px 0;
            a {
                padding: 5px 8px;
            }
        }
    }
}

@media (max-width: 993px) {
    .class-subnav.tab-subnavigation-wrapper {
      .container {
        margin-left: 0px;
        ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          li {
            padding: 5px 0;
            a {
              padding: 5px 8px;
            }
          }
        }
      }
    }
}
