<div class="student-reports-subnav tab-subnavigation-wrapper">
  <div class="container">
    <ul>
      <li><%= active_link_to 'Activity Summary', scorebook_teachers_classrooms_path, class: 'default'%></li>
      <li><%= active_link_to 'Activity Analysis', '/teachers/progress_reports/diagnostic_reports/#/activity_packs', class: 'default activity-analysis-tab'%></li>
      <li><%= active_link_to 'Diagnostics', '/teachers/progress_reports/diagnostic_reports/#/diagnostics', class: 'default diagnostic-tab'%></li>
      <li><%= active_link_to raw('Activity Scores  <i class="fa fa-star"></i>'), '/teachers/progress_reports/activities_scores_by_classroom'%></li>
      <li><%= active_link_to raw('Concepts  <i class="fa fa-star"></i>'), teachers_progress_reports_concepts_students_path%></li>
      <li><%= active_link_to raw('Standards  <i class="fa fa-star"></i>'), teachers_progress_reports_standards_classrooms_path %></li>
      <li><%= active_link_to raw('Data Export  <i class="fa fa-star"></i>'), teachers_progress_reports_activity_sessions_path %></li>
    </ul>
  </div>
</div>
<div id='premium-banner-container'></div>
